<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
    <servlet-name>stepOneServlet</servlet-name>
    <servlet-class>com.bzn.codestory13.stepone.StepOneServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>stepOneServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>scalaskel</servlet-name>
    <servlet-class>com.bzn.codestory13.stepone.scalaskel.Echoppe</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>scalaskel</servlet-name>
    <url-pattern>/scalaskel/change/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>jajascript</servlet-name>
    <servlet-class>com.bzn.codestory13.stepone.jajascript.Optimize</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>jajascript</servlet-name>
    <url-pattern>/jajascript/optimize/*</url-pattern>
  </servlet-mapping>
</web-app>
